<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="/js/ajax.min.js"></script>
	<script type="text/javascript" src="/js/vue.min.js"></script>
	<script type="text/javascript">
		function login() {
			console.log("ss");
			// $.post( "/auth/login", $( "#login-form" ).serialize() );
		}
		// $(function() {$("#register-birthdate").datepicker({dateFormat:'yy-mm-dd'})});
	</script>

	<link rel="stylesheet" type="text/css" href="/style/bootstrap.min.css">
	<title>SNSYou!</title>
</head>
<body id="app">
	<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img class="navbar-brand" href="#" src="/img/logo21.png" style="width:100%; height:100%;"></img>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          	<div>
	            <form class="navbar-form navbar-left" role="search"
	            v-on:submit.prevent="onSubmit" id="login-form" style="padding-top : 2%;">
			        <div class="form-group">
			          <input type="text" class="form-control" placeholder="email" id="login-email">
			        </div>
			        <div class="form-group">
			          <input type="password" class="form-control" placeholder="password" id="login-password">
			        </div>
			        <div class="form-group" id="app">
			          <button v-on:click="trylogin($event)" class="form-control btn-primary" >Login</button>
			        </div>
			    </form>	
          	</div>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
    	<div class="row">
    		<div class="col-md-8" style="text-align:center;">
    			<!-- <img src="/img/fingerprint2.png" width="20%"> -->
    			<img src="/img/mixed22.png" width="80%" style="">
    		</div>
    		<div class="col-md-4">
    			<form role="form" id="register">
    				<div class="form-group">
			          	<input type="text" class="form-control" placeholder="first name" id="register-fname">
			        </div>
 					<div class="form-group">
			          	<input type="text" class="form-control" placeholder="last name" id="register-lname">
			        </div>
			        <div class="form-group">
			          	<input type="password" class="form-control" placeholder="password" id="register-password">
			        </div>	
    				<div class="form-group">
			          	<input type="text" class="form-control" placeholder="email"
			          	id="register-email">
			        </div>
    				<div class="form-group">
			          	<select class="form-control" id="register-gender">
					        <option value="male">male</option>
					        <option value="female">female</option>
					    </select>
			        </div>
			        <div class="form-group">
			          	<input type="date" class="form-control" placeholder="birthdate"
			          	id="register-birthdate">
			        </div>		        
			        <div class="form-group">
			          	<button class="form-control btn-primary" v-on:click="tryregister($event)">Register</button>
			        </div>
    			</form>
    			<div class="btn btn-danger" v-if="errors.length !=0" style="width: 100%;">
    				<div v-for="error in errors">
    					{{error}}
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</body>
<script type="text/javascript">
	new Vue (
		{
			el: '#app',
			data: {
				errors:[]
			},
			methods: {
				trylogin: function (event) {
					event.preventDefault();
					$.post( "/auth/login", { email: document.getElementById("login-email").value, password: document.getElementById("login-password").value } ).done(function( data ) {
						    	if(data != 'false') {
						    		window.location = "/";
						    	}
							});
				},
				tryregister: function (event) {
					console.log('regests');
					var parent = this;
					event.preventDefault();
					$.post( "/auth/register", { 
						fname: document.getElementById("register-fname").value, 
						lname: document.getElementById("register-lname").value,
						password:document.getElementById("register-password").value,
						email: document.getElementById("register-email").value,
						gender: document.getElementById("register-gender").value,
						birthdate: document.getElementById("register-birthdate").value
						 }).done(function(data){
						 	if(data == ""){
						 		window.location = "/";
						 	}
						 	if(JSON.parse(data).length != ""){
						 		parent.errors = JSON.parse(data);
						 	}else {
						 		window.location = "/";
						 	}
						 });
				}
			}
		}
		);

</script>
</html>