<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="/js/ajax.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/vue.min.js"></script>
	<script type="text/javascript" src="/js/moment.js"></script>
	<script type="text/javascript" src="/js/emotions.js"></script>
	<script type="text/javascript">
		
	</script>
	<style type="text/css">
		#js-contact-message:after {
		content: '\1f603';
		color:orange; /* yellow: not enough contrast with white background */
		}
	</style>

	<link rel="stylesheet" type="text/css" href="/style/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/style/style.css">
	<title>SNSYou!</title>
</head>
<body id="app" style="background-color:#e7e6e5;">
	<nav class="navbar navbar-default  navbar-fixed-top" style=>
      	<div class="container">
	        <div class="navbar-header"  style="margin-left: 10%;">
	          	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            	<span class="sr-only">Toggle navigation</span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	          	</button>
	          <a href="#"v-on:click="trygetposts">
	          	<img class="navbar-brand" href="#" src="/img/logo21.png" ></img>
	          </a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
		        <form class="navbar-form navbar-left" role="search">
			        <div class="form-group dropdown">
				        <input type="text" class="form-control" placeholder="Search"id="search"  style="width: 200%; " autocomplete="off" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          	<ul class="dropdown-menu" id="searchlist" style="width:200%;" v-if="searchquerylist.length != 0">
			          		<h6 style="color:#aeb5c9;" v-if="searchquerylist.user.length != 0">-Users</h6>
			            	<li v-for="searchresult in searchquerylist.user"><a href="{{ '/users/show?id=' + searchresult.id  }}" v-on:click="trygetuserinfo($event)"><h5>{{ searchresult.fname + searchresult.lname }}</h5></a></li>
			            	<li role="separator" class="divider" v-if="searchquerylist.group.length != 0"></li>
			            	<h6 style="color:#aeb5c9;" v-if="searchquerylist.group.length != 0">-Groups</h6>
			            	<li v-for="searchresult in searchquerylist.group"><a href="#" id="{{ searchresult.id }}" v-on:click="trygetgroupposts($event.currentTarget.id)"><h5>{{ searchresult.name }}</h5></a></li>
			          	</ul>
			        </div>
			    </form>
	          	<ul class="nav navbar-nav navbar-right">
	          		<li><a href="#" v-on:click="trygetme"><img src="{{userpp}}" style="width:25px; height:25px; border-radius: 4px;"></a></li>
	          		<li class="dropdown">
	          			<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="tooltip" title="Friend request">{{requests.length}} <i class="fa fa-user fa-2x"></i></a>
	          			<ul class="dropdown-menu">
			            	<li v-for="request in requests"><a href="{{ '/users/show?id=' + request.id  }}" v-on:click="trygetuserinfo($event)">{{request.fname + " " + request.lname}}</a></li>
			          	</ul>
	          		</li>
			        <li class="dropdown">
			        	<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="tooltip" title="Noitications">{{notifications.length}} <i class="fa fa-bell-o fa-2x"></i></a>
	          			<ul class="dropdown-menu">
			            	<li v-for="notification in notifications"><a href="#">{{notification.body + " from \"" + notification.date + "\"."}}</a></li>
			          	</ul>
			        </li>
			        <li class="dropdown">
			        	<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="tooltip" title="Noitications">{{conversations.length}} <i class="fa fa-comment fa-2x"></i></a>
	          			<ul class="dropdown-menu">
			            	<li v-for="conversation in conversations"><a href="#" v-on:click="trygetconversation(conversation.id)">{{conversation.name}}</a></li>
			          	</ul>
			        </li>
			        <li>
			        	<a href="#" data-toggle="tooltip" title="Logout!"><i class="fa fa-sign-out fa-2x" v-on:click="trylogout"></i></a>
			        </li>
	          	</ul>
	        </div><!--/.nav-collapse -->
        </div>
    </nav>

	<div class="container">
		<h1>s</h1>
		<h1></h1>	
	</div>

	<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <span> <i class="fa fa-comment"></i></span> {{currentconversation.conv_info.name}}
                    <div class="btn-group pull-right">
                        <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <span><i class="fa fa-angle-down"></i></span>
                        </a>
                    </div>
                </div>
            <div class="panel-collapse collapse" id="collapseOne">
                <div class="panel-body" >
                    <ul class="chat">
                        <div v-for="schat in currentconversation.chats">
                        <li class="left clearfix" v-if="schat.chat.user_id != userme.id"><span class="chat-img pull-left">
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{
                                    schat.user.fname + " " +  schat.user.lname}}</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>{{ schat.chat.chat_time }}</small>
                                </div>
                                <p>
                                    {{ schat.chat.chat_text }}
                                </p>
                            </div>
                        </li>
                        	<li class="right clearfix" v-if="schat.chat.user_id == userme.id">
                        	<span class="chat-img pull-right" >
	                            <img src="{{userme.profile_image}}" alt="User Avatar" class="img-circle" style="width:50px;" />
	                        </span>
	                            <div class="chat-body clearfix">
	                                <div class="header">
	                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{ schat.chat.chat_time}}</small>
	                                    <strong class="pull-right primary-font">{{userme.fname + " " + userme.lname}}</strong>
	                                </div>
	                                <p>
	                                    {{ schat.chat.chat_text}}
	                                </p>
	                            </div>
	                        </li>
                        </div>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-chat" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" v-on:click="trysendmessage">
                                Send</button>
                        </span>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
	</div>



    <div class="container" v-if="!inProfile">
    	<div class="row">
    		<div class="col-md-2">
    			<h4>Groups</h4>
    				<h6 v-for="group in groups"><i class="fa fa-users"></i> <a  id="{{ group.id }}" v-on:click="trygetgroupposts($event.currentTarget.id)"> {{ group.name }}</a> </h6>
    				<a href="#"data-toggle="modal" data-target="#myModal">
						<i class="fa fa-plus-circle"></i> new group
					</a>
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title" id="myModalLabel">New Group</h4>
					      </div>
					      <div class="modal-body">
					      	<div class="form-group">
				          	<input type="textarea" class="form-control" placeholder="Group name ...." id="create-group-name">
				        </div>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        <button type="button" class="btn btn-primary" v-on:click="trycreategroup" data-dismiss="modal">Create group</button>
					      </div>
					    </div>
					  </div>
					</div>
    		</div>
    		<div class="col-md-8">
	    		<div style="background-color: #fbfcfc; box-shadow: 1px 1px 1px #bdc3c7; 	text-align:center; padding: 1%;" >
	    			<form role="form" id="posting-box" style="text-align: right;" v-on:submit.prevent="onSubmit">
	    				<div class="col-md-3" style="margin:1%;">
		    				<select class="form-control" id="public">
						        <option value="private">private</option>
						        <option value="public">public</option>
						    </select>
	    				</div>
						<div class="form-group">
				          	<textarea type="textarea" class="form-control" placeholder="What's on your mind?!" id="posting-body"></textarea>
				        </div>
				        <button class="btn btn-info" style="padding: 1%;" v-on:click="trypost($event)">Post</button>
	    			</form>
	    			<form action="upload.php" method="post" enctype="multipart/form-data" target="upload_target" v-if="me" class="row">
					    <input type="hidden" name="username" value="{{'-post'}}"  />
					    <input name="myfile" type="file"/>
					          <input type="submit" name="submitBtn" value="Upload" class="btn btn-success" style="margin:2%; text-align:left;" v-on:click="setpostimgtrue" />
					</form>
		    		<iframe id="upload_target" name="upload_target" src="#" style="width:0;height:0;border:0px solid #fff;"></iframe> 
	    		</div>
	    		<div style="background-color: #fbfcfc; box-shadow: 1px 1px 1px #bdc3c7; text-align:left; padding: 1%; margin-top:2%;" v-for="post in posts" >
	    			<div class="row">
	    				<img src="{{post.user.profile_image}}" style="width:50px; height:50px; padding:0px; border-radius: 4px; box-shadow: 1px 1px 1px #bdc3c7;" class="col-md-2">
	    					<h5 class="col-md-10" style="padding-top: 0%; color:#3e3f3a; margin-down: 0; padding-down:0;">{{post.user.fname + " " + post.user.lname}}</h5>
	    					<h5 class="col-md-10" style="padding-top: 0%; margin-top:0; color:#3e3f3a;">{{post.date}}</h5>
	    			</div>
	    			<div style="box-shadow: 0px 0px 1px 1px #dfd7ca; border-radius: 4px; margin-top:15px; padding:10px; ">
	    				<emo>
	    					{{post.body}}
	    				</emo>
	    				<br>
	    				<img src="{{post.img}}" v-if="post.img != NULL">
	    			</div>
	    			<div class="row">
	    				<div class="col-md-4">
	    					<h6 style="padding: 1%;">{{ post.likes.length }} likes</h6>
	    				</div>
		    			<div class="col-md-8" style="text-align:right;">
		    				<button class="btn btn-info" style="margin-top:1%;padding: 1%; width: 9%; " v-on:click="trylikepost($event)" id="{{ post.id }}" data-toggle="tooltip" title="{{ post.liked == 'fa fa-thumbs-up fa-2x'  ? 'Already liked!' : 'like this'}}"><i class="{{ post.liked }}"></i></button>
		    			</div>
	    			</div>
	    			<div v-for="comment in post.comments">
	    			<div style=" margin-right:20px; margin-left:20px;">
	    				{{comment.name}}
	    			</div>
	    			<div>
		    			<div style="box-shadow: 0px 0px 1px 1px #dfd7ca; border-radius: 4px; margin-bottom:10px; padding:10px; margin-right:20px; margin-left:20px;" >
		    				{{comment.body}}
		    			</div>
	    			</div>
	    			</div>
	    			<div style="padding-top: 1%;">
	    				<form role="form"  v-on:submit.prevent="onSubmit" style="margin-right:20px; margin-left:20px;">
	    					<textarea type="text" class="form-control" placeholder="wirte a comment!" id="comment-body-{{post.id}}"></textarea>
	    					<div  style="text-align:right;">
			    				<button class="btn btn-info" style="margin-top:1%;padding: 1%; width: 13%; " v-on:click="trycommentpost($event)" id="{{ post.id }}" data-toggle="tooltip" title="comment">comment</button>
			    			</div>
	    				</form>
	    			</div>
	    		</div>
    		</div>
    		<div class="col-md-2">
    			<h4><i class="fa fa-user"></i> 	Friends</h4>
    			<h6 v-for="friend in friends"><a  id="{{ friend.id }}" href="{{ '/users/show?id=' + friend.id  }}" v-on:click="trygetuserinfo($event)"> {{"- " + friend.fname + " " + friend.lname}}</a> </h6>
    		</div>
    	</div>

				<!-- Modal -->
    </div>

    <div class="container" v-if="inProfile">
    	<button class="btn btn-info" onclick="vu.trycreateconversation();">Create Conversation</button>
    	<div class="row" style="background-color: #fbfcfc; box-shadow: 1px 1px 1px #bdc3c7; 	text-align:center; padding: 1%;">
    		<div class="col-md-3">
    			<img src="{{user.profile_image}}" width="100%">
    			<form action="upload.php" method="post" enctype="multipart/form-data" target="upload_target" v-if="me">
				    <input type="hidden" name="username" value="{{'user-' + user.id}}" />
				    Image: <input name="myfile" type="file" />
				          <input type="submit" name="submitBtn" value="Upload" v-on:click="tryupdateprofilepic" class="btn btn-success" style="margin:2%;" />
				</form>
	    <iframe id="upload_target" name="upload_target" src="#" style="width:0;height:0;border:0px solid #fff;"></iframe> 
    		</div>
    		<div class="col-md-9">
	    		<div class="col-md-9" style="text-align:left;">
	    			<h1>{{ user.fname + " " + user.lname }}</h1>
	    		</div>
	    			<hr style="width: 100%;"/>
	    		<div class="col-md-12" style="text-align:left;">
	    			<div class="row" v-if="!inEdit">
	    				<h3 v-if="user.email != '' &&  user.email != null">email : {{ user.email }}</h3>
	    				<h3 v-if="user.telephone != '' &&  user.telephone != null">phone : {{ user.telephone }}</h3>
	    				<h3 v-if="user.gender != '' &&  user.gender != null">gender : {{ user.gender }}</h3>
	    				<h3 v-if="user.birthdate != '' &&  user.birthdate != null">Birthdate : {{ user.birthdate }}</h3>
	    				<h3 v-if="user.hometown != '' &&  user.hometown != null">hometown : {{ user.hometown }}</h3>
	    				<h3 v-if="user.marital_status != '' &&  user.marital_status != null">Marital status : {{ user.marital_status }}</h3>
	    				<h3 v-if="user.about != '' &&  user.about != null">about : {{ user.about }}</h3>
	    				<button class="btn btn-success"  v-on:click="inEdit = true" v-if="me">Edit</button>
	    				<button class="btn btn-success"  v-on:click="trysentrequest" v-if="cansentfriendrequest && !isfriend">Send Friend Request</button>
	    				<button class="btn btn-success"  v-on:click="tryacceptrequest" v-if="infriendrequest && !isfriend">Accept</button>
	    			</div>
	    			<form role="form" id="posting-box" style="text-align: right;" v-on:submit.prevent="onSubmit" v-if="inEdit">
						<div class="form-group">
				          	<input type="text" class="form-control" placeholder="telephone" id="posting-body" v-model="user.telephone">
				        </div>
				        <div class="form-group">
				          	<input type="text" class="form-control" placeholder="hometown" id="posting-body" v-model="user.hometown">
				        </div>
				        <div class="form-group">
				          	<input type="text" class="form-control" placeholder="email" id="posting-body" v-model="user.email">
				        </div>
				        <div class="form-group">
				          	<input type="text" class="form-control" placeholder="Marital status" id="posting-body" v-model="user.Marital_status">
				        </div>
				        <div class="form-group">
				          	<input type="text" class="form-control" placeholder="about" id="posting-body" v-model="user.about">
				        </div>
				        <button class="btn btn-default" v-on:click="inEdit = false">cancel</button>
				        <button class="btn btn-success"  v-on:click="tryupdateme($event)">save</button>
	    			</form>
	    		</div>
    		</div>
    	</div>

    	<div style="background-color: #fbfcfc; box-shadow: 1px 1px 1px #bdc3c7; text-align:left; padding: 1%; margin-top:2%;" v-for="post in posts" >
	    			<div class="row">
	    				<img src="{{user.profile_image}}" style="width:50px; height:50px; padding:0px; border-radius: 4px; box-shadow: 1px 1px 1px #bdc3c7;" class="col-md-2">
	    					<h5 class="col-md-10" style="padding-top: 0%; color:#3e3f3a; margin-down: 0; padding-down:0;">{{post.user.fname + " " + post.user.lname}}</h5>
	    					<h5 class="col-md-10" style="padding-top: 0%; margin-top:0; color:#3e3f3a;">{{post.date}}</h5>
	    			</div>
	    			<div style="box-shadow: 0px 0px 1px 1px #dfd7ca; border-radius: 4px; margin-top:15px; padding:10px; ">
	    				{{post.body}}
	    				<br>
	    				<img src="{{post.img}}" v-if="post.img != NULL">
	    			</div>
	    			<div class="row">
	    				<div class="col-md-4">
	    					<h6 style="padding: 1%;">{{ post.likes.length }} likes</h6>
	    				</div>
		    			<div class="col-md-8" style="text-align:right;">
		    				<button class="btn btn-info" style="margin-top:1%;padding: 1%; width: 9%; " v-on:click="trylikepost($event)" id="{{ post.id }}" data-toggle="tooltip" title="{{ post.liked == 'fa fa-thumbs-up fa-2x'  ? 'Already liked!' : 'like this'}}"><i class="{{ post.liked }}"></i></button>
		    			</div>
	    			</div>
	    			<div v-for="comment in post.comments">
	    			<div style=" margin-right:20px; margin-left:20px;">
	    				{{comment.name}}
	    			</div>
	    			<div>
		    			<div style="box-shadow: 0px 0px 1px 1px #dfd7ca; border-radius: 4px; margin-bottom:10px; padding:10px; margin-right:20px; margin-left:20px;" >
		    				{{comment.body}}
		    			</div>
	    			</div>
	    			</div>
	    			<div style="padding-top: 1%;">
	    				<form role="form"  v-on:submit.prevent="onSubmit" style="margin-right:20px; margin-left:20px;">
	    					<textarea type="text" class="form-control" placeholder="wirte a comment!" id="comment-body-{{post.id}}"></textarea>
	    					<div  style="text-align:right;">
			    				<button class="btn btn-info" style="margin-top:1%;padding: 1%; width: 13%; " v-on:click="trycommentpost($event)" id="{{ post.id }}" data-toggle="tooltip" title="comment">comment</button>
			    			</div>
	    				</form>
	    			</div>
	    		</div>

    </div>
</body>
<script type="text/javascript">
	function compare(a,b) {
		if (a.date > b.date)
			return -1;
		if (a.date < b.date)
		return 1;
		return 0;
	}
	var vu = new Vue (
		{
			el: '#app',
			data: {
				inEdit: false,
				infriendrequest: false,
				cansentfriendrequest: false,
				isfriend: false,
				me: false,
				ingroup: false,
				postimg: 'false',
				groupid: "",
				userpp:"",
				user: [],
				notifications:[],
				conversations:[],
				currentconversation: [],
				requests: [],
				inProfile: false,
				ingroupt: false,
				searchquerylist: [],
				posts:[],
				likes:[],
				friends:[],
				groups:[],
				userme:[],
				group_id: null
			},
			methods: {
				setpostimgtrue: function() {
					this.postimg = 'true';
				},
				trycreateconversation: function() {
					var parent = this;
					$.get("/chat/storeConversation", {
						name: parent.user.fname + " " + parent.user.lname
					}).done(function (data) {
						$.get("/chat/index").done(function (data) {
							parent.conversations = JSON.parse(data);
							var conv =  parent.conversations[parent.conversations.length - 1]
							$.get("/chat/joinConversation", {
								conversation_id: conv.id,
								user_id: parent.user.id
							}).done(function (data) {
								parent.currentconversation = JSON.parse(data);
							});
						});
					});

					
				},
				trysendmessage: function() {
					var parent = this;
					$.get("/chat/storeChat", {
						conversation_id: parent.currentconversation.conv_info.id,
						chat_text: document.getElementById('btn-chat').value
					}).done(function (data) {
						parent.currentconversation = JSON.parse(data);
					});
				},
				trygetconversations: function() {
					var parent = this;
					$.get("/chat/index").done(function (data) {
						parent.conversations = JSON.parse(data);
					});
				},
				trygetconversation: function(id) {
					var parent = this;
					$.get("/chat/show", {conversation_id: id}).done(function (data) {
						parent.currentconversation = JSON.parse(data);
					});
				},
				trygetme: function() {
					var parent = this;
					parent.cansentfriendrequest = false;
					parent.infriendrequest = false;
					parent.inProfile = true;
					parent.me = true;
					$.get("/users/me").done(function (data) {
						parent.user = JSON.parse(data);
						parent.userpp = JSON.parse(data)['profile_image'];
						parent.userme = JSON.parse(data);
					});
					parent.userpost();
				},
				trygetrequest: function() {
					var parent = this;
					$.get("/users/requests").done(function (data) {
						parent.requests = JSON.parse(data);
					});
				},
				tryuploadimg: function(event) {
					$( "#upload-form" ).submit(function( event ) {
						  event.preventDefault();

						});
				},
				trysentrequest: function() {
					var parent = this;
					if(!parent.me) {
						$.get("/users/add", {id: parent.user.id}).done(function (data) {
							parent.cansentfriendrequest = false;
						});
					}
				},
				tryacceptrequest: function() {
					var parent = this;
					if(!parent.me) {
						$.get("/users/accept", {id: parent.user.id}).done(function (data) {
						});
					}
				},
				trycommentpost: function(event) {
					var post_id = event.currentTarget.id;
					event.preventDefault();
					var parent = this;
					console.log('ss'+post_id);
						$.post("/posts/comment", {
							post_id: post_id,
							body: document.getElementById("comment-body-"+post_id).value
						}).done(function (data) {
							for (var i = 0; i < parent.posts.length; i++) {
								if(parent.posts[i].id == post_id) {
								parent.posts[i].comments.push(JSON.parse(data));
								document.getElementById("comment-body-"+post_id).value = "";	
								}
							};
						});
				},
				isinrequestlist: function() {
					var parent = this;
					for (var i = 0; i < parent.requests.length; i++) {
						if(parent.requests[i].id == parent.user.id){
							return true;
						}
					};
					parent.cansentfriendrequest = true;
					return false;
				},
				tryupdateme: function(event) {
					event.preventDefault();
					var parent = this;
					parent.me = true;
					$.get("/users/update", parent.user).done(function (data) {
						parent.user = JSON.parse(data);
						parent.inEdit = false;
					});
				},
				tryupdateprofilepic: function() {
					var parent = this;
					parent.me = true;
					parent.userpp = '';
					$.get("/users/update", {profile_image: 'user-'+parent.user.id+'.jpg'}).done(function (data) {
						parent.user = JSON.parse(data);
						parent.userpp = JSON.parse(data)['profile_image'];
					});
					parent.userpost();
					var data = {
							body: "update profile picture",
							public: 'private',
							haveimage: 'user-'+parent.user.id
						};
					$.post("/posts/create", data).done(function (data) {
							parent.posts = JSON.parse(data).sort(compare);
							for (var i = 0; i < parent.posts.length; i++) {
								parent.posts[i].date = moment(parent.posts[i].date).fromNow();
							}
						});
				},
				trygetuserinfo: function(event) {
					event.preventDefault();
					console.log(event);
					var link = event.currentTarget.href;
					var parent = this;
					parent.me = false;
					$.get(link).done(function (data) {
						parent.user = JSON.parse(data);
						parent.infriendrequest = parent.isinrequestlist();
						for (var i = 0; i < parent.friends.length; i++) {
							if(parent.friends[i].id == parent.user.id) {
								parent.isfriend = true;
								break;
							}
							parent.isfriend = false;
						}
						parent.inProfile = true;
						parent.userpost();
					});
				},
				trygetfriend: function() {
					var parent = this;
					$.get("/users/friends").done(function (data) {
						parent.friends = JSON.parse(data);
					});
				},
				trylogout: function() {
					$.get("/auth/logout").done(function (data) {
						window.location = "/";
					});
				},
				trypost: function(event) {
					event.preventDefault();
					console.log(this.postimg);
					var parent = this;
					var data
					if(parent.postimg == 'true') {
						data = {
							body: document.getElementById('posting-body').value,
							public: document.getElementById('public').value,
							haveimage: '-post'
						};
					}else {
						data = {
							body: document.getElementById('posting-body').value,
							public: document.getElementById('public').value,
						};
					}
					
					if(parent.group_id == null)
						$.post("/posts/create", data).done(function (data) {
							parent.posts = JSON.parse(data).sort(compare);
							for (var i = 0; i < parent.posts.length; i++) {
								parent.posts[i].date = moment(parent.posts[i].date).fromNow();
							}
						});
					else
						$.post("/posts/create", {
							body: document.getElementById('posting-body').value,
							group_id: parent.group_id
						}).done(function (data) {
							console.log(parent.group_id)
							parent.trygetgroupposts(parent.group_id);
						});
					parent.postimg = 'false';
				},
				trygetsearchresult: function(searchquery) {
					var parent = this;
					$.get("/search", {query: searchquery}).done(function (data) {
						parent.searchquerylist = JSON.parse(data);
				    	$("#searchlist").dropdown();	
						parent.searchquerylist.user = parent.searchquerylist.user.slice(0,4);
				    	parent.searchquerylist.group = parent.searchquerylist.group.slice(0,4);
					});
				},
				trygetposts: function() {
					var parent = this;
					parent.inProfile = false;
					parent.ingroup = false;
					parent.group_id = null;
					$.get("/posts/index").done(function (data) {
						parent.posts = JSON.parse(data).sort(compare);
						for (var i = 0; i < parent.posts.length; i++) {
							parent.posts[i].date = moment(parent.posts[i].date).fromNow();
						}
					});
				},
				trygetnotifications: function() {
					var parent = this;
					$.get("/notifications/index").done(function (data) {
						parent.notifications = JSON.parse(data).sort(compare);
						for (var i = 0; i < parent.notifications.length; i++) {
							parent.notifications[i].date = moment(parent.notifications[i].date).fromNow();
						}
					});
				},
				trygetgroup: function() {
					
				},
				trygetgroups: function() {
					var parent = this;
					$.get("/groups/index").done(function (data) {
						console.log(JSON.parse(data));
						parent.groups = JSON.parse(data);
					});
				},
				trygetgroupposts: function(groupid) {
					var parent = this;
					parent.ingroup = true;
					parent.groupid = groupid;
					$.get("/groups/show", {id: groupid}).done(function (data) {
					console.log(JSON.parse(data));
						parent.posts = JSON.parse(data).sort(compare);
						parent.group_id = groupid;
						for (var i = 0; i < parent.posts.length; i++) {
							parent.posts[i].date = moment(parent.posts[i].date).fromNow();
						}
					});
				},
				trylikepost: function(event) {
					var postid = event.currentTarget.id;
					console.log(postid);
					var parent = this;
					if(postid != ''){
					var parent = this;
					$.get("/posts/like", {id: postid}).done(function (data) {
						parent.trychecklikes(data , postid);
					});
						
					}
				},
				trycreategroup: function() {
					var parent = this;
					$.post("/groups/store", {
						name: document.getElementById('create-group-name').value
					}).done(function (data) {

						parent.groups = JSON.parse(data);
					});
				},
				userpost: function() {
					var parent = this;
					$.get("/posts/userpost", {id: parent.user.id}).done(function (data) {
						parent.posts = JSON.parse(data).sort(compare);
						for (var i = 0; i < parent.posts.length; i++) {
							parent.posts[i].date = moment(parent.posts[i].date).fromNow();
						}
					});
				},
				reloadposts: function() {
					var parent = this;
					if(parent.ingroup) {
						parent.trygetgroupposts(parent.groupid);
						return;
					}
					$.get("/posts/index").done(function (data) {
						var receiveddata = JSON.parse(data).sort(compare);
						var difference = receiveddata.length - parent.posts.length;
						if(parent.posts.length != receiveddata.length) {
							for (var i = 0; i < difference; i++) {
								parent.posts.unshift(receiveddata[difference - i - 1]);
							};
						}
						for (var i = 0; i < difference; i++) {
							parent.posts[i].date = moment(parent.posts[i].date).fromNow();
						}
						for (var i = 0; i < parent.posts.length; i++) {
							parent.posts[i].comments = receiveddata[i].comments;
						}
						for (var i = 0; i < parent.posts.length; i++) {
							parent.posts[i].likes = receiveddata[i].likes;
						}
					});
				},
				trychecklikes: function(data, id) {
					var temp;
					var tempclass;
					for(var i = 0 ; i < JSON.parse(data).length ; i++) {
						if(JSON.parse(data)[i].id == id) {
							temp =  JSON.parse(data)[i].likes;
							tempclass =  JSON.parse(data)[i].liked;
							break;
						}
					}
					for(var i = 0 ; i < this.posts.length ; i++) {
						if(this.posts[i].id == id) {
							this.posts[i].likes = temp;
							this.posts[i].liked = tempclass;
							break;
						}
					}
				}
			},
			created: function() {
				var parent = this;
				this.trygetme();
				this.trygetposts();
				this.trygetgroups();
				this.trygetrequest();
				this.trygetnotifications();
				this.trygetfriend();
				this.trygetconversations();
				setInterval(function(){ 
					if(!parent.inProfile){
						parent.reloadposts();
					}
					parent.trygetrequest();
					parent.trygetnotifications();
					parent.trygetfriend();
					$(document).ready(function(){
					  $('emo').each(function(i, d){
					    $(d).emoji();
					  });
					});
					parent.trygetconversations();
					parent.trygetconversation(parent.currentconversation.conv_info.id);
					 }, 1000);
				$('#search').keyup(function() {
				    parent.trygetsearchresult($(this).val());	    
				});
			}
		}
		);
</script>
</html>